<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<body class="hold-transition dark-skin sidebar-mini theme-primary fixed">
<div class="wrapper">
  <header class="main-header">
    <%- include('partials/navbar') %>
  </header>
  <%- include('partials/menu') %>
  <%- include('dashboard') %>
  <%- include('partials/footer') %>
</div>
	<!-- Vendor JS -->
	<script src="js/vendors.min.js"></script>
	<script src="js/pages/chat-popup.js"></script>
    <script src="../assets/icons/feather-icons/feather.min.js"></script>	
	<script src="../assets/vendor_components/apexcharts-bundle/dist/apexcharts.js"></script>
	<!-- Adnix Admin App -->
	<script src="js/template.js"></script>
	<script src="js/pages/dashboard.js"></script>
</body>
</html>
